# PlatformIO build & temporary output directories
.pio/
.pioenvs/
.piolibdeps/
.clang_complete
.gcc-flags.json

# IDE specific configurations
.vscode/.browse.c_cpp_properties.json
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch/
.idea/

# Operating system files
.DS_Store
Thumbs.db
desktop.ini

# Sensitive configuration files
include/config_secrets.h
backend/pushbullet_config.json
backend/gemini_config.json
backend/forest_fire.db

backend/webapp/*.jpg
backend/webapp/*.png
backend/webapp/*.jpeg
# Web app build artifacts
backend/webapp/*.map

# Flask server logs
server.log
server.err.log
